* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fcf8f8;
}

/* the nav bar */

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 25%;
  background-color: white;
  padding: 12px 0;
  border-bottom: 0.5px solid #b2b3b6;
}

/* logo */
.logo a {
  color: #6070ff;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}

.logo {
  transition: 5s;
}

/* Menu */
.menu {
  display: none;
}

/* toggle-menu */
.toggle-menu img {
  width: 28px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(234, 85%, 62%, 0.856);
  backdrop-filter: blur(5px);
}

#close-btn {
  float: right;
  width: 32px;
  padding: 30px;
  padding-right: 40px;
  transition: 5s;
}

.menu-items {
  padding: 20px;
  padding-top: 80px;
}

.menu-items li {
  padding: 10px;
  list-style: none;
}

.menu-items li a {
  font-size: 32px;
  color: white;
  text-decoration: none;
}

/* INTRODUCTION SECTION */
.intro-section {
  background: #fff url(./assets/images/header-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-left: 40px;
  text-align: left;
  margin-bottom: 40px;
  border-bottom-left-radius: 80px;
}

/* HEADLINE */
.headline {
  font-size: 40px;
  line-height: 54px;
  font-weight: 800;
  padding: 10px 0;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 150px;
  color: #172b4d;
}

/* DESCRIPTION */
.description {
  margin-top: 10px;
  font-size: 16px;
  max-width: 80%;
  margin-bottom: 10px;
  font-weight: 400;
  color: #344563;
}

/* SOCIAL MEDIA */
.social-handles p {
  color: #7f8cff;
  font-size: 20px;
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  display: flex;
}

.social-icons img {
  width: 24px;
  margin-right: 20px;
  transition: 1s;
}

.instagram img {
  width: 30px;
}

/* project-section */

#project-section {
  display: grid;
  grid-gap: 100px;
  margin: 100px 0;
  justify-content: center;
}

#works {
  text-align: center;
  color: #172b4d;
  font-size: 32px;
  margin: auto auto;/* text-align: center can be used here but this was troubling the bottom border */
  padding-bottom: 10px;
  border-bottom: 1px solid #344563;
}

.project {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #b2b3b6;
  padding: 20px 10px;
  margin: 20px;
  transition: 1s;
}

.project img {
  width: 295px;
  height: 220px;
  margin-bottom: 12px;
  padding: 15px;
  align-content: center;
  transition: 2s;
}

.project-name {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  font-weight: 700;
  margin-bottom: 10px;
}

.developer-info {
  display: flex;
  margin-bottom: 15px;
  font-size: 15px;
  padding-left: 5px;
}

.developer-name {
  color: #172b4d;
  margin-right: 10px;
  font-weight: 700;
}

.developer-info ul {
  display: flex;
}

.developer-info li {
  font-weight: 500;
  margin-right: 10px;
  color: #7a869a;
  list-style: none;
}

.project-description {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 15px;
  padding-left: 5px;
}

.languages-used {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

.language {
  margin-right: 10px;
  padding: 4px 12px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
}

button {
  border: 2px solid #396df2;
  color: #396df2;
  border-radius: 8px;
  background: transparent;
  padding: 13px 8px;
  width: 125px;
  font-size: 17px;
  transition: background-color 0.8s;
}

/* About me */

#about-me {
  margin: 20px;
  margin-bottom: 100px;
}

.about-content {
  padding-left: 20px;
}

#about-me .headline {
  padding-top: 60px;
}

.resume-btn {
  width: 160px;
  margin-top: 10px;
}

.skills-info {
  margin-top: 40px;
}

.skill-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.lang-skill li {
  list-style: none;
}

.skill-type img {
  width: 30px;
}

.lang-type {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: rgb(230, 238, 244);
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

.lang-type:hover {
  background-color: #cbd2e0;
}

.lang-type img {
  margin-right: 20px;
}

/* CONTACT FORM */
footer {
  padding: 100px 20px;
  padding-bottom: 50px;
  background: #6070ff url(./assets/images/footer-bg-mobile.png);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 80px;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.contact-me {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-bottom: 12px;
}

.contact-details {
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 60px;
}

input {
  font-size: 17px;
  color: #172b4d;
  padding: 15px 16px;
  width: -webkit-fill-available;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

::placeholder {
  color: #b3bac5;
}

#message {
  border: 1px solid #cfd8dc;
  width: -webkit-fill-available;
  font-size: 17px;
  color: #172b4d;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
}

.contact-btn {
  background: #fff;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  width: fit-content;
  padding: 10px 13px;
  align-self: baseline;
  transition: 1s;
}

/* Desktop-version */
@media (min-width: 768px) {
  /* nav-menu */
  nav {
    gap: 50%;
  }

  .toggle-menu {
    display: none !important;
  }

  .menu {
    display: flex;
    list-style: none;
  }

  .menu li {
    margin-right: 30px;
    padding: 5px 5px;
  }

  .active {
    border-bottom: 2px solid black;
    transition: 0.3s ease-in border;
  }

  .menu li a {
    text-decoration: none;
    color: #344563;
  }

  .menu li:hover {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
  }

  /* INTRO SECTION */
  .intro-section {
    background: #fff url(./assets/images/header-bg-pc.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 250px;
    border-bottom-left-radius: 160px;
  }

  .intro-content {
    min-width: 70%;
    padding-top: 50px;
  }

  .headline {
    font-size: 48px;
    line-height: 60px;
    font-weight: 800;
    padding-top: 0;
  }

  .description {
    font-size: 20px;
    line-height: 28px;
  }

  /* Project Section */
  .project {
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    border-radius: 24px;
  }

  .project section {
    margin: 20px;
  }

  .project img {
    width: 50%;
    height: auto;
  }

  .project-name {
    padding-top: 20px;
    font-size: 40px;
    line-height: 52px;
  }

  .developer-info {
    font-size: 18px;
    line-height: 24px;
    padding-left: 5px;
  }

  .project-description {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .project:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .project:nth-of-type(4) {
    flex-direction: row-reverse;
  }

  /* About-me section */
  #about-me {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    margin: 100px 0;
    border-top-right-radius: 150px;
  }

  .about-content {
    width: 30%;
    margin-right: 30px;
    font-size: 16px;
  }

  .about-content .description {
    max-width: unset;
  }

  .skills-info {
    width: 50%;
    margin-left: 30px;
  }

  .lang-skill {
    display: flex;
    margin-left: 20px;
  }

  .lang-skill li a {
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 0;
    padding-bottom: 20px;
  }

  .lang-skill li a img {
    margin: 0;
    margin-bottom: 15px;
  }

  /* contact us */
  footer {
    border-top-left-radius: 160px;
    background: #6070ff url(./assets/images/footer-bg-pc.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #form-container {
    max-width: 35%;
  }

  .contact-btn {
    align-self: unset;
  }
}

/* transitions */

.logo:hover {
  transform: rotate(360deg);
}

#close-btn:active {
  transform: rotate(360deg);
}

.project:hover,
.project:active {
  border: 2px solid #b2b3b6;
  box-shadow: 3px 3px 10px #b3bac5;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 3px 1px 16px 1px rgba(96, 112, 255, 1);
}

button:active {
  background-color: #2230d2;
  color: #fff;
  box-shadow: 3px 1px 16px 1px rgba(96, 112, 255, 1);
}

.contact-btn:hover,
.contact-btn:active {
  color: #396df2;
  background-color: white;
  box-shadow: -1px -1px 22px -5px rgba(255, 255, 255, 0.75);
}

.social-icons img:active {
  width: +5px;
}

.social-icons img:hover {
  width: 30px;
}

.instagram img:hover {
  width: 35px;
}
